<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tu Pedido
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-toolbar>
    <ion-title color="danger">Montaditos de la Casa</ion-title>
  </ion-toolbar>

  <ion-list>
    <ion-item *ngFor="let item of listaCasa">
      <ion-label>{{item.nombre}}</ion-label>
      <ion-checkbox [(ngModel)]="item.isChecked" (click)="_getSelectedItem(item)"></ion-checkbox>
    </ion-item>
  </ion-list>

  <ion-toolbar>
    <ion-title color="danger">Montaditos Clasicos</ion-title>
  </ion-toolbar>

  <ion-list>
    <ion-item *ngFor="let item of listaClasicos">
      <ion-label>{{item.nombre}}</ion-label>
      <ion-checkbox [(ngModel)]="item.isChecked" (click)="_getSelectedItem(item)"></ion-checkbox>
    </ion-item>
  </ion-list>

  <ion-toolbar>
    <ion-title color="danger">Montaditos Especiales</ion-title>
  </ion-toolbar>

  <ion-list>
    <ion-item *ngFor="let item of listaEspeciales">
      <ion-label>{{item.nombre}}</ion-label>
      <ion-checkbox [(ngModel)]="item.isChecked" (click)="_getSelectedItem(item)"></ion-checkbox>
    </ion-item>
  </ion-list>

  <ion-toolbar>
    <ion-title color="danger">Bebidas</ion-title>
  </ion-toolbar>

  <ion-list>
    <ion-item *ngFor="let item of listaBebidas">
      <ion-label>{{item.nombre}}</ion-label>
      <ion-checkbox [(ngModel)]="item.isChecked" (click)="_getSelectedItem(item)"></ion-checkbox>
    </ion-item>
  </ion-list>

  <ion-button expand="block" (click)="_sendData()">Enviar a Cuenta</ion-button>

</ion-content>