<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-toolbar>
    <ion-title>Montaditos de la Casa</ion-title>
  </ion-toolbar>

  <ion-list>
    <ion-item *ngFor="let item of listaCasa">
      <ion-label>{{item.nombre}}</ion-label>
      <ion-checkbox slot="end" [(ngModel)]="item.isChecked"></ion-checkbox>
    </ion-item>
  </ion-list>

  <ion-toolbar>
    <ion-title>Montaditos Clasicos</ion-title>
  </ion-toolbar>

  <ion-list>
    <ion-item *ngFor="let item of listaClasicos">
      <ion-label>{{item.nombre}}</ion-label>
      <ion-checkbox slot="end" [(ngModel)]="item.isChecked"></ion-checkbox>
    </ion-item>
  </ion-list>

  <ion-toolbar>
    <ion-title>Montaditos Especiales</ion-title>
  </ion-toolbar>

  <ion-list>
    <ion-item *ngFor="let item of listaEspeciales">
      <ion-label>{{item.nombre}}</ion-label>
      <ion-checkbox slot="end" [(ngModel)]="item.isChecked"></ion-checkbox>
    </ion-item>
  </ion-list>

  <ion-toolbar>
    <ion-title>Bebidas</ion-title>
  </ion-toolbar>

  <ion-list>
    <ion-item *ngFor="let item of listaBebidas">
      <ion-label>{{item.nombre}}</ion-label>
      <ion-checkbox slot="end" [(ngModel)]="item.isChecked"></ion-checkbox>
    </ion-item>
  </ion-list>



</ion-content>
