<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
    Nuestra Carta
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>



<ion-content [fullscreen]="true">

  <ion-toolbar>
    <ion-title>Nuestra Carta</ion-title>
  </ion-toolbar>

  <div *ngFor="let item of listaCasa">
    <ion-card>
      <ion-card-header>
        <ion-card-title>{{item.nombre}}</ion-card-title>
        <img width="300" height="200" src={{item.foto}} />
        <ion-card-subtitle>{{item.ingredientes}}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        Calidad: {{item.calidad}}
      </ion-card-content>

      <ion-card-content>
        Precio: {{item.precio}} €
      </ion-card-content>

    </ion-card>
  </div>


</ion-content>
