<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tu Cuenta
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-toolbar>
    <ion-title>Su Pedido:</ion-title>
  </ion-toolbar>

  <div *ngFor="let item of listaPedidos">
    <ion-card>
      <ion-card-header>
        <ion-card-title>{{item.nombre}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Precio: {{item.precio}} 
      </ion-card-content>
      
      <ion-button (click)="borrar(item)"><ion-icon name="trash-outline"></ion-icon>Eliminar</ion-button>
    </ion-card>
  </div>

<p>Su pedido es = {{pagoFinal}} €</p>

  <ion-button expand="block">Ordenar</ion-button>

</ion-content>
