<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tu Cuenta
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-toolbar>
    <ion-title color="danger">Su Pedido:</ion-title>
  </ion-toolbar>

  <div *ngFor="let item of listaPedidos">
    <ion-card>
      <ion-card-header>
        <ion-card-title>{{item.nombre}}</ion-card-title>
        <img width="50" height="50" src={{item.foto}} />
      </ion-card-header>
      <ion-card-content>
        Precio: {{item.precio}} €
      </ion-card-content>
      <ion-row>
        <ion-col size="6">
        </ion-col>
        <ion-col>
        </ion-col>
        <ion-col>
          <ion-button (click)="borrar(item)">
            <ion-icon name="trash-outline"></ion-icon>Eliminar
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-card>
  </div>

  <ion-list>
    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Mesa Numero:</ion-label>
      <ion-input placeholder="Numero" type="number"></ion-input>
    </ion-item>
  </ion-list>

  <ion-card>
    <ion-card-content>
      <ion-title>Su Cuenta = {{pagoFinal}} €</ion-title>
    </ion-card-content>
  </ion-card>

  <ion-button expand="block" (click)="_pedidoRealizado()">Ordenar Pedido</ion-button>

</ion-content>